---
interface Props {
  title?: string; // Title for the sandbox area
  height?: string; // Custom height for the sandbox at desktop size (default is square 1:1)
}

const {
  title,
  height,
} = Astro.props;

// Generate custom style for height if provided
const customStyle = height ? `height: ${height}` : '';
---

<div class="w-full min-h-[300px] relative flex flex-col justify-center items-center my-4 p-4 overflow-hidden bg-white dark:bg-[--aw-color-bg-page-dark] border-2 border-black dark:border-white shadow-[4px_4px_0_0_rgba(0,0,0,1)] dark:shadow-[4px_4px_0_0_rgba(255,255,255,1)]" style={customStyle}>
  
  {title && <div class="absolute top-0 left-0 bg-black dark:bg-white text-white dark:text-black py-1 px-3 font-bold text-sm z-10">{title}</div>}

  <div class="w-full h-full relative flex items-center justify-center">
    <slot />
  </div>

</div>

