---
import Layout from '~/layouts/Layout.astro';
import SidebarMenu from '~/components/widgets/SidebarMenu.astro';
import Footer from '~/components/widgets/Footer.astro';

import { footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- Wrapper div with a 5-column grid layout -->
  <div class="grid grid-cols-5 h-screen">
    
    <!-- Sidebar component with 1/5 grid columns, fixed position -->
    <div class="col-span-1">
      <slot name="header">
        <SidebarMenu showToggleTheme />
      </slot>
    </div>

    <!-- Main scrollable container with 4/5 grid columns -->
    <main class="col-span-4 overflow-y-auto h-screen pl-8 pr-8 py-8">
      <slot />
      
      <!-- Footer moved inside main -->
      <slot name="footer">
        <Footer {...footerData} />
      </slot>
    </main>
  </div>
</Layout>
